<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="WalletName" value="Hackathon_1"/>
    <add key="WalletPassword" value="stratis"/>
    <add key="SmartContractBaseUrl" value="http://localhost:37223"/>

    <add key="GasPrice" value="100"/>
    <add key="GasLimit" value="100000"/>
    <add key="GasFee" value="0.01"/>
    <add key="Amount" value="0"/>

    <add key="ApplicationFee" value="2000"/>

    <add key="SenderAddress" value="CUtNvY1Jxpn4V4RD1tgphsUKpQdo4q5i54"/>
    <add key="BuyerAddress" value="CfW5AzGYA77DpWvdhPcfXvL1hUdkmjZ7PB" />
    <add key="OwnerAddress" value="CdazH6VZkoKMg8FQogvLG4xNwFGDa9gwFQ"/>
    <add key="PayeeAddress" value="CUtNvY1Jxpn4V4RD1tgphsUKpQdo4q5i54"/>
    <add key="ContractAddress" value="CLsDoVPG2zbDWCYvQmdaj5DBcg7BiRu1mV" />
  
  </appSettings>
</configuration>