<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <appSettings>
    <add key="StratisNodeBaseUrl" value="http://localhost:37223"/>
    <add key="SyncfusionLicense" value="MDAxQDMxMzcyZTMzMmUzMGhtUjhaczhCaDdadlU3c0dkOENSb2h0ODBocFJnQk84b2U5SEVWc0NHaDg9"/>
  </appSettings>

</configuration>